.newsletter-display {
    padding: 10px;
    border-radius: 5px;
}
.newsletter-display ul {
    padding: 10px;
    margin: 0;
    list-style: none;
}
.newsletter-display ul {
    padding: 5px 0;
    margin: 0;
}

.newsletter-display ul li a .fas {
    margin-right: 10px;
}
